/*--- GLOBAL ---*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

body {
    margin: 0;
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 70px 0;
}

.row {
    display: flex;
    justify-content: space-between;
}

.main {
    width: 870px;
}

.item-holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &> .item-link {
        margin-bottom: 30px;
    }
}

.aside {
    width: 270px;
}

/*--X GLOBAL X--*/

/*--- MAIN ---*/

/*--- ITEM ---*/

.item-link {
    display: inline-block;
    text-decoration: none;
    transition: all .2s ease-in-out;

    &:hover {
        opacity: 0.9;
        transform: translateY(-4px);
    }
}

.item {
    position: relative;
    width: 270px;
    background-color: #fff;
    border-radius: 4px;

    .item__badges {
        position: absolute;
        top: 10px;
        left: 15px;
        right: 15px;
        display: flex;

        &> * + * {
            margin-left: 10px;
        }

        .item__badge {
            display: inline-block;
            height: 22px;
            padding: 0 10px;
            background-color: #a3a3a3;
            border-radius: 4px;
            font-size: 14px;
            line-height: 23px;
            color: #000000;

            &.item__badge--credit {
                background-color: #ffcf26;
            }

            &.item__badge--comfort {
                background-color: #11be75;
            }
        }
    }

    .item__img {
        img {
            width: 270px;
            height: 200px;
            border-radius: 4px 4px 0 0;
        }
    }

    .item__content {
        padding: 16px 15px 20px;

        .item__title {
            font-weight: bold;
            font-size: 18px;
            line-height: 1.16;
            color: #000000;
            margin-bottom: 11px;
        }

        .item__term {
            font-size: 14px;
            line-height: 1.14;
            color: #000000;
            margin-bottom: 11px;
        }

        .item__metro {
            font-size: 14px;
            line-height: 1.14;
            color: #000000;
            margin-bottom: 11px;

            &::before {
                content: '';
                display: inline-block;
                vertical-align: baseline;
                width: 16px;
                height: 11px;
                margin-right: 10px;
                background-image: url('../assets/img/metro.svg');
                background-repeat: no-repeat;
                background-size: initial;
            }
        }
        
        .item__address {
            font-size: 14px;
            line-height: 1.14;
            color: #777777;
        }
    }

}

/*--X ITEM X--*/

/*--- BUTTON ---*/

button.show-more {
    width: 100%;
    height: 80px;
    background-color: #e5e5e5;
    border-radius: 4px;
    border: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.16;
    color: #4290c9;
    cursor: pointer;
    transition: background-color .2s ease-out;

    &:hover {
        background-color: #d8d8d8;
    }

    &> img {
        display: inline-block;
        margin-right: 10px;
        vertical-align: bottom;
    }
}

/*--X BUTTON X--*/

/*--X MAIN X--*/

/*--- ASIDE ---*/

.widget {
    &+ .widget {
        margin-top: 33px;
    }

    .widget__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 1.16;
        color: #000000;
        position: relative;
        margin-bottom: 21px;

        &::after {
            content: '';
            width: 20px;
            height: 20px;
            position: absolute;
            top: 1px;
            right: -1px;
            background-image: url('../assets/img/up.svg');
            background-repeat: no-repeat;
            background-size: initial;
            background-position: center;
        }
    }

    .widget__body {

        /* location button group */

        .location {

            .location__row {
                display: flex;

                &:first-child {
                    overflow: hidden;
                    border-radius: 4px 4px 0 0;
                    border: 1px solid #d6d6d6;
                }

                &:last-child {
                    overflow: hidden;
                    border-radius: 0 0 4px 4px;
                    border: 1px solid #d6d6d6;
                    border-top: none;
                }

                .location__btn {
                    flex-grow: 1;
                    height: 48px;
                    padding: 0 15px;
                    background-color: transparent;
                    border: none;
                    font-family: inherit;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 50px;
                    text-align: center;
                    color: #3c3c3c;
                    cursor: pointer;
                    transition: background-color .2s ease-in-out;

                    &:hover {
                        cursor: pointer;
                        background-color: #fff0bb;
                    }
                }

                .location__checkbox {
                    width: 1px;
                    height: 1px;
                    position: absolute;
                    opacity: 0;
                    appearance: none;

                    &:checked + .location__btn {
                        background-color: #ffcf26;

                        &:hover {
                            background-color: #e0b000;
                        }
                    }
                }
            }
        }

        /* location button group */

        /* radio */

        .radio {
            display: block;
            cursor: pointer;

            &+ .radio {
                margin-top: 15px;
            }

            
            .radio__real {
                width: 1px;
                height: 1px;
                position: absolute;
                opacity: 0;
                appearance: none;

                &:checked + .radio__fake {
                    background-color: #ffe074;
                }

                &:checked + .radio__fake::before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    content: '';
                    border-radius: 50%;
                    width: 8px;
                    height: 8px;
                    background-color: #3c3c3c;
                }

                &:checked ~ .radio__title {
                    font-weight: 500;
                }
            }

            .radio__fake {
                position: relative;
                display: inline-block;
                margin-right: 7px;
                vertical-align: bottom;
                width: 20px;
                height: 20px;
                background-color: #fff;
                border: 1px solid #777777;
                border-radius: 50%;
            }

            .radio__title {
                font-weight: 400;
                font-size: 16px;
                line-height: 1.18;
                color: #000000;
            }
        }

        /* radio */

        /* checkbox */

        .checkbox {
            display: block;
            cursor: pointer;

            &+ .checkbox {
                margin-top: 15px;
            }

            .checkbox__real {
                width: 1px;
                height: 1px;
                position: absolute;
                opacity: 0;
                appearance: none;

                &:checked + .checkbox__fake {
                    background-color: #ffe074;
                }

                &:checked + .checkbox__fake::before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    content: '';
                    background-image: url('../assets/img/check.svg');
                    background-size: initial;
                    background-position: center;
                    width: 18px;
                    height: 18px;
                }

                &:checked ~ .checkbox__title {
                    font-weight: 500;
                }
            }   
            
            .checkbox__fake {
                position: relative;
                display: inline-block;
                margin-right: 7px;
                vertical-align: bottom;
                width: 20px;
                height: 20px;
                background-color: transparent;
                border: 1px solid #777777;
                border-radius: 2px;
            }

            .checkbox__title {
                font-weight: 400;
                font-size: 16px;
                line-height: 1.18;
                color: #000000;
            }
        }

        /* checkbox */

        /* show-more */
        .widget__hidden {
            display: none;

            &+ .widget__show-hidden {
                margin-top: 15px;
            }
        }

        .widget__show-hidden {
            background: transparent;
            display: inline-block;
            border: none;
            font-family: inherit;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 1.19;
            color: #4290c9;
            cursor: pointer;
            transition: all .2s ease-in-out;

            &:hover {
                text-decoration: underline;
            }
        }
        /* show-more */

        /* comission */

        .toggle {
            cursor: pointer;

            .toggle__real {
                width: 1px;
                height: 1px;
                position: absolute;
                opacity: 0;
                appearance: none;

                &:checked ~ .toggle__title {
                    font-weight: 500;
                }

                &:checked + .toggle__fake {
                    background-color: #ffe074;
                }

                &:checked + .toggle__fake::before {
                    left: 19px;
                }
            }

            .toggle__fake {
                display: inline-block;
                width: 37px;
                height: 20px;
                border-radius: 7px;
                background-color: #c4c4c4;
                position: relative;
                vertical-align: bottom;
                margin-right: 10px;

                &::before {
                    content: '';
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    width: 16px;
                    height: 16px;
                    background-color: #3c3c3c;
                    border-radius: 50%;
                    transition: all .2s ease-in-out;
                }
            }

            .toggle__title {
                font-weight: 400;
                font-size: 16px;
                line-height: 1.18;
                color: #000000;
            }
        }

        /* comission */

        /* button */

        .form-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 50px;
            border: 1px solid #d6d6d6;
            border-radius: 4px;
            background-color: transparent;
            text-align: center;
            font-family: inherit;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            color: #3c3c3c;
            cursor: pointer;
            transition: background-color .2s ease-in-out;

            img {
                margin-right: 6px;
            }

            &+ .form-btn {
                margin-top: 10px;
            }

            &:hover {
                background-color: #e7e7e7;
                border: none;
            }
        }

        .form-btn--submit {
            background-color: #ffcf26;
            border: none;
            color: #000000;

            &:hover {
                background-color: #ffe173;
            }
        }

        /* button */
    }
}

/*--X ASIDE X--*/