/*--- GLOBAL ---*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  margin: 0;
  background-color: #f4f4f4;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 15px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main {
  width: 870px;
}

.main + .aside {
  margin-left: 30px;
}

.item-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-holder > .item-link {
  margin-bottom: 30px;
}

.aside {
  width: 270px;
  min-width: 242px;
}

/*--X GLOBAL X--*/
/*--- MENU ICON ---*/
.menu-icon-wrapper {
  width: 45px;
  height: 45px;
  position: fixed;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  top: 15px;
  left: 15px;
  background-color: #d8d8d8;
}

.menu-icon-wrapper.scroll {
  opacity: 50%;
}

.menu-icon-wrapper .menu-icon {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #fff;
}

.menu-icon-wrapper .menu-icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: '';
  width: 30px;
  height: 5px;
  background-color: #fff;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.menu-icon-wrapper .menu-icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: '';
  width: 30px;
  height: 5px;
  background-color: #fff;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.menu-icon-wrapper .menu-icon.menu-icon-active {
  background-color: transparent;
}

.menu-icon-wrapper .menu-icon.menu-icon-active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.menu-icon-wrapper .menu-icon.menu-icon-active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

/*--- MENU ICON ---*/
/*--- MAIN ---*/
/*--- ITEM ---*/
.item-link {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.item-link:hover {
  opacity: 0.9;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.item {
  position: relative;
  width: 270px;
  background-color: #fff;
  border-radius: 4px;
}

.item .item__badges {
  position: absolute;
  top: 10px;
  left: 15px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item .item__badges > * + * {
  margin-left: 10px;
}

.item .item__badges .item__badge {
  display: inline-block;
  height: 22px;
  padding: 0 10px;
  background-color: #a3a3a3;
  border-radius: 4px;
  font-size: 14px;
  line-height: 23px;
  color: #000000;
}

.item .item__badges .item__badge.item__badge--credit {
  background-color: #ffcf26;
}

.item .item__badges .item__badge.item__badge--comfort {
  background-color: #11be75;
}

.item .item__img img {
  width: 270px;
  height: 200px;
  border-radius: 4px 4px 0 0;
}

.item .item__content {
  padding: 16px 15px 20px;
}

.item .item__content .item__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.16;
  color: #000000;
  margin-bottom: 11px;
}

.item .item__content .item__term {
  font-size: 14px;
  line-height: 1.14;
  color: #000000;
  margin-bottom: 11px;
}

.item .item__content .item__metro {
  font-size: 14px;
  line-height: 1.14;
  color: #000000;
  margin-bottom: 11px;
}

.item .item__content .item__metro::before {
  content: '';
  display: inline-block;
  vertical-align: baseline;
  width: 16px;
  height: 11px;
  margin-right: 10px;
  background-image: url("../assets/img/metro.svg");
  background-repeat: no-repeat;
  background-size: initial;
}

.item .item__content .item__address {
  font-size: 14px;
  line-height: 1.14;
  color: #777777;
}

/*--X ITEM X--*/
.item-link--hidden {
  display: none;
}

/*--- BUTTON ---*/
button.show-more {
  width: 100%;
  height: 80px;
  background-color: #e5e5e5;
  border-radius: 4px;
  border: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.16;
  color: #4290c9;
  cursor: pointer;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
}

button.show-more:hover {
  background-color: #d8d8d8;
}

button.show-more > img {
  display: inline-block;
  margin-right: 10px;
  vertical-align: bottom;
}

.show-more--hide {
  display: none;
}

/*--X BUTTON X--*/
/*--X MAIN X--*/
/*--- ASIDE ---*/
.widget + .widget {
  margin-top: 33px;
}

.widget .widget__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.16;
  color: #000000;
  position: relative;
  margin-bottom: 21px;
  cursor: pointer;
}

.widget .widget__title::after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 1px;
  right: -1px;
  background-image: url("../assets/img/up.svg");
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;
}

.widget .widget__title--active::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.widget .widget__body {
  /* location button group */
  /* location button group */
  /* radio */
  /* radio */
  /* checkbox */
  /* checkbox */
  /* show-more */
  /* show-more */
  /* comission */
  /* comission */
  /* button */
  /* button */
}

.widget .widget__body .location .location__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.widget .widget__body .location .location__row:first-child {
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  border: 1px solid #d6d6d6;
}

.widget .widget__body .location .location__row:last-child {
  overflow: hidden;
  border-radius: 0 0 4px 4px;
  border: 1px solid #d6d6d6;
  border-top: none;
}

.widget .widget__body .location .location__row .location__btn {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 48px;
  padding: 0 15px;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  color: #3c3c3c;
  cursor: pointer;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.widget .widget__body .location .location__row .location__btn:hover {
  cursor: pointer;
  background-color: #fff0bb;
}

.widget .widget__body .location .location__row .location__checkbox {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.widget .widget__body .location .location__row .location__checkbox:checked + .location__btn {
  background-color: #ffcf26;
}

.widget .widget__body .location .location__row .location__checkbox:checked + .location__btn:hover {
  background-color: #e0b000;
}

.widget .widget__body .radio {
  display: block;
  cursor: pointer;
}

.widget .widget__body .radio + .radio {
  margin-top: 15px;
}

.widget .widget__body .radio .radio__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.widget .widget__body .radio .radio__real:checked + .radio__fake {
  background-color: #ffe074;
}

.widget .widget__body .radio .radio__real:checked + .radio__fake::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #3c3c3c;
}

.widget .widget__body .radio .radio__real:checked ~ .radio__title {
  font-weight: 500;
}

.widget .widget__body .radio .radio__fake {
  position: relative;
  display: inline-block;
  margin-right: 7px;
  vertical-align: bottom;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #777777;
  border-radius: 50%;
}

.widget .widget__body .radio .radio__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #000000;
}

.widget .widget__body .checkbox {
  display: block;
  cursor: pointer;
}

.widget .widget__body .checkbox + .checkbox {
  margin-top: 15px;
}

.widget .widget__body .checkbox .checkbox__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.widget .widget__body .checkbox .checkbox__real:checked + .checkbox__fake {
  background-color: #ffe074;
}

.widget .widget__body .checkbox .checkbox__real:checked + .checkbox__fake::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  background-image: url("../assets/img/check.svg");
  background-size: initial;
  background-position: center;
  width: 18px;
  height: 18px;
}

.widget .widget__body .checkbox .checkbox__real:checked ~ .checkbox__title {
  font-weight: 500;
}

.widget .widget__body .checkbox .checkbox__fake {
  position: relative;
  display: inline-block;
  margin-right: 7px;
  vertical-align: bottom;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #777777;
  border-radius: 2px;
}

.widget .widget__body .checkbox .checkbox__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #000000;
}

.widget .widget__body .checkbox--hidden {
  display: none;
}

.widget .widget__body .widget__show-hidden {
  background: transparent;
  display: inline-block;
  border: none;
  margin-top: 15px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  color: #4290c9;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.widget .widget__body .widget__show-hidden:hover {
  text-decoration: underline;
}

.widget .widget__body .toggle {
  cursor: pointer;
}

.widget .widget__body .toggle .toggle__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.widget .widget__body .toggle .toggle__real:checked ~ .toggle__title {
  font-weight: 500;
}

.widget .widget__body .toggle .toggle__real:checked + .toggle__fake {
  background-color: #ffe074;
}

.widget .widget__body .toggle .toggle__real:checked + .toggle__fake::before {
  left: 19px;
}

.widget .widget__body .toggle .toggle__fake {
  display: inline-block;
  width: 37px;
  height: 20px;
  border-radius: 7px;
  background-color: #c4c4c4;
  position: relative;
  vertical-align: bottom;
  margin-right: 10px;
}

.widget .widget__body .toggle .toggle__fake::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: #3c3c3c;
  border-radius: 50%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.widget .widget__body .toggle .toggle__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #000000;
}

.widget .widget__body .form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background-color: transparent;
  text-align: center;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #3c3c3c;
  cursor: pointer;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.widget .widget__body .form-btn img {
  margin-right: 6px;
}

.widget .widget__body .form-btn + .form-btn {
  margin-top: 10px;
}

.widget .widget__body .form-btn:hover {
  background-color: #e7e7e7;
  border: none;
}

.widget .widget__body .form-btn--submit {
  background-color: #ffcf26;
  border: none;
  color: #000000;
}

.widget .widget__body .form-btn--submit:hover {
  background-color: #ffe173;
}

.widget .widget__body--hidden {
  display: none;
}

/*--X ASIDE X--*/
/*--- MEDIA ---*/
@media (max-width: 1200px) {
  .container {
    width: 872px;
  }
}

@media (max-width: 871px) {
  .container {
    width: 600px;
  }
  .menu-icon-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .aside {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 20px -1px #000000;
            box-shadow: 0px 0px 20px -1px #000000;
    overflow-y: scroll;
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .aside--mobile-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 599px) {
  .container {
    width: 300px;
  }
  .item-holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  button.show-more {
    width: 270px;
  }
}

/*--X MEDIA X--*/
/*# sourceMappingURL=style.css.map */